/*************************************************
    RESET STYLES
 *************************************************/
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.width-50 {
    width: 50%;
    margin: 0 auto;
}



/* HEADER STYLE */
/* ***************************************************************** */
/* NAVBAR */
nav {
    min-height: 100px;
    background-color: #2c3e50;
    color: white;
    font-weight: bold;
}

button.navbar-toggler {
    border-color: white;
}

span.navbar-toggler-icon {
    filter: invert(1);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: white;
}

ul.navbar-nav li.nav-item a {
    color: white;
}


/* JUMBOTRON */
.jumbotron {
    background-color: #1abc9c;
    color: white;
}

.image-jumbo img {
    display: inline-block;
    width: 300px;
}

.title{
    padding: 10px 0;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: -3px;
    text-align: center;
}

.divide {
    margin: 10px 0;
    width: 100%;
    height: 3px;
}

.dev{
    padding: 10px 0;
    font-size: 1.3rem;
    font-weight: 500;
}


/* ****************************************************************** */
/* MAIN STYLE */
/* PORTFOLIO SECTION */
.portfolio {
    color: #2c3e50;
}

.card img {
    display: inline-block;
    width: 100%;
    border-radius: 15px;
}


/* ABOUT-US SECTION */
.about-us {
    background-color: #1abc9c;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 7px;
    font-size: 1.3rem;
    border-radius: 10px;
}



/* CONTACT ME SECTION */
.forum{
    background-color: #dcdcdc;
}

.info{
    font-size: 1.3rem;
    font-weight: 600;
}

#send {
    background-color: #1abc9c;
    padding: 9px 13px;
}


/* FOOTER STYLE */
.pre-foot {
    background-color: #3a546d;
    color: white;
}